<phpunit bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="unit">
            <directory>tests/OnlinePayments/Sdk/Unit</directory>
        </testsuite>
        <testsuite name="integration">
            <directory>tests/OnlinePayments/Sdk/Integration</directory>
        </testsuite>
    </testsuites>
</phpunit>
